
.parent {
    width: 350px;
    height: 700px;

    /*元素大小=宽高-边    推荐使用*/
    border: 1px solid red;


    /*元素大小=宽高+边    不推荐使用*/
    /*border: 10px solid red;*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;



}

.nav_header {

    display: flex;
    flex-direction: row;


}

.nav_main {
    flex: 1;
    display: flex;
    flex-direction: row;

    .food_kind {
        flex: 3;
        border: 1px solid green;
    }

    .food_list {
        flex: 7;
        border: 1px solid blue;
    }
}

.nav_foot {

    display: flex;
    flex-direction: row;
}