html, body {
    margin: 0;
}


* {
    box-sizing: border-box; /*盒子模式*/
    list-style: none; /*取消li序号*/
    text-decoration: none; /*取消-删除线*/
}


/*css初始化文件事描述路由 ========================================= */
.router_desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .title {
        font-size: 14px;
        font-weight: bolder;
    }

    .path {
        font-size: 10px;
        font-weight: bolder;
    }
}